<div class="container" id="signupContainer">

  <legend>Sign Up</legend>

  <form name="signupform" novalidate>

      <div class="row">
        <label for="" class="col-md-2">First Name</label>
        <input type="text" name="fn" ng-model="signUpCtrl.fn"
        minlength="2"
        ng-maxlength="10"
        required>
        <span ng-if="(signupform.fn.$error.required
                      || signupform.fn.$error.minlength) && signupform.fn.$touched">
            First Name must be atleast 2 characters long.
        </span>
        <span ng-if="signupform.fn.$error.maxlength && signupform.fn.$touched">
            First Name must not be more than 10 characters long.
        </span>
      </div>
      <div class="row">
        <label for="" class="col-md-2">Last Name</label>
        <input type="text" name="ln" ng-model="signUpCtrl.ln"
        minlength="2"
        ng-maxlength="10"
        required>
        <span ng-if="(signupform.ln.$error.required
                      || signupform.ln.$error.minlength) && signupform.ln.$touched">
            Last Name must be atleast 2 characters long.
        </span>
        <span ng-if="signupform.ln.$error.maxlength && signupform.ln.$touched">
            Last Name must not be more than 10 characters long.
        </span>
      </div>
      <div class="row">
        <label for="" class="col-md-2">Email</label>
        <input type="email" name="emailId" ng-model="signUpCtrl.emailId"
        required>
        <span ng-if="signupform.emailId.$invalid && signupform.emailId.$touched">
            Email must be in valid format: whatever@domain format.
        </span>
      </div>
        <div class="row">
          <label for="" class="col-md-2">Phone Number</label>
          <input type="text" name="phNumber" ng-model="signUpCtrl.phNumber"
          pattern="(\d{3})-(\d{3})-(\d{4})"
          required>
          <span ng-if="signupform.phNumber.$invalid && signupform.phNumber.$touched">
              Phpne must be in valid format: ###-###-####.
          </span>
      </div>
      <div class="row">
        <label for="" class="col-md-2">Favorite Menu No:</label>
        <input type="text" name="menuNumber" ng-model="signUpCtrl.menuNumber" ng-blur="signUpCtrl.checkForMenuExists();">
        <span ng-show="signUpCtrl.status">No such menu number exists</span>
    </div>
    <div class="row">
        <button type="button" ng-disabled="signupform.$invalid" name="Submit" class="btn btn-danger" ng-click="signUpCtrl.submit();">Submit</button>
    </div>
    <div class="row">
        <span ng-show="signUpCtrl.successMessage">Your information has been saved</span>
    </div>
  </form>
</div>
